<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akdogan.simpledivelog">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--BEFORE in Application: android:theme="@style/@style/Theme.SimpleDiveLog" -->
    <application
        android:name=".application.SimpleDiveLogApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.FullscreenSplash"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".application.launcher.LaunchActivity"
            android:launchMode="singleTop"
            android:label="Simple Dive Log"
            android:theme="@style/Theme.FullscreenSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".application.ui.loginview.LoginViewActivity"
            android:label="Login"
            android:theme="@style/Theme.SimpleDiveLog"/>

        <activity
            android:name=".application.ui.settingsView.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".application.mainactivity.MainActivity"
            android:theme="@style/PreferenceScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".application.mainactivity.MainActivity" />
        </activity>

        <activity
            android:name=".application.ui.editview.PictureFullscreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".application.mainactivity.MainActivity"
            android:label="Main Activity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SimpleDiveLog.NoActionBar">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.akdogan.simpledivelog.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>